@import url('https://fonts.cdnfonts.com/css/open-sauce-one');

body {
    background-color: #ffffff;
    font-family: 'Open Sauce One', sans-serif;
    color: #FFFFF0;
}

.title {
max-width: 100%;
margin-left: .5em;
position:fixed;
height: 10.5vh;
z-index: 1000;
}

#title1{
 margin-top: 1.5em;
}

.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 5px;
    row-gap: 25px;
    margin-left: 10em;
    margin-right: 1em;
    margin-top: 1.5em;
    justify-items: center;
}


.containers{
/*display: inline-flex;
max-width: 20%;
padding: 0,25px;
cursor: pointer;
*/
width: 95%;
height: 100%;
position: relative;
}

.space-top{
    height: 0em;
}

img{
  transition: opacity 0.25s ease-out, background-color 0.25s ease-out;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/*

img:hover  {
    background-color:#000;
    opacity:0.5;
}*/


.footer {
    width: 100%;
    height: 50px; 
    background-color: rgb(0, 0, 0);
    display: inline-block !important;
    align-items: center;
    text-align: center;
    color: #BEBEAF;
    font-size: 15px;

}

#splashScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

#splashScreen.hidden {
    opacity: 0;
    pointer-events: none;
}

#splashScreen video {
    width: 6%;
    height: auto;
}

@media only screen and (max-width: 750px) {
    
     body {
        height: 100%;
        overflow-x: hidden;

    }

    .title {
max-width: 100%;
margin-left: 0em;
position:fixed;
height: 15%;
z-index: 1000;
}

#title1{
 margin-top: 1.5em;
}

.container{
   /* width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    margin-top: 1.5em;
    */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 5px;
    row-gap: 5px;
    margin-left: 0dvb;
    margin-right: 0em;
    margin-top: 0em;
    justify-items: center;
}

.containers{
/*display: inline-flex;
max-width: 20%;
padding: 0,25px;
cursor: pointer;
*/
width: 100%;
height: 100%;
position: relative;
}

.space-top{
    height: 9em;
}

    #splashScreen video {
        width: 18%;
        height: auto;
    }

}