.work-images{
    cursor: zoom-in;
} 

.lightbox{
  position:fixed;
  top: 0;
  left: 0;
  height:100%;
  width:100%;
  display:none;
  background-color:rgb(255, 255, 255);
  justify-content:center;
  align-items:center;
  z-index:10000;
}

#lightbox-image{
    max-width:100%;
  max-height:85%;
  
}



#close-btn{
  position:absolute;
  top:20px;
  right:30px;
  font-size:50px;
  background:none;
  color:#000000;
  border:none;
  cursor:pointer;
}

@media only screen and (max-width: 900px) {

  #lightbox-image{
  max-width:95%;
  max-height:100%
}

  #lightbox-video{
  max-width:95%;
  max-height:100%
}


#close-btn{
  top:8px;
  right:10px;
  font-size:40px;
}
}